*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: skyblue;
}

/* Styling for all unvisited links */
/* CHANGE COLOR BASED ON PARENT PAGE GEM COLOR!!!!! */
a {
  color: rgb(0, 251, 255);
  text-decoration: none;
}

/* Styling for visited links */
a:visited {
  color: rgb(0, 145, 255);
}

/* Styling for links when hovered over */
a:hover {
  color: greenyellow;
}

/* Styling for active links (while being clicked) */
a:active {
  color: green;
}

/* HEADER CONTENT START */

@font-face {
    font-family: 'Harrington';
    src: url('fonts/Harrington/harrington.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend_Giga/LexendGiga-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: indigo;
    color: silver;
    display: flex;
    flex: row;
    font-family: 'Harrington', sans-serif;
}

.headerDiv {
    margin: 0.25rem;
    padding: 0.5vh;
}

.left-header {
    display: flex;
    align-items: center;
}

.right-header {
    display: block;
    width: auto;
    margin-left: auto;
}

.headerBtn {
    width: 7vh;
    background-color: indigo;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
}

.headerBtn:hover {
    opacity: 1;
}

.headerBtn:active{
    transform: translateY(4px);
}

.headerBtn img {
    width: 100%;
}

#logoHeaderImg {
    height: 10vh;
}

/* HEADER CONTENT END */

/* NAVBAR CONTENT START */

#mainNavBar{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Lexend', sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: indigo;
    position: sticky;
}

#navPageButtons {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    margin-right: 2vw;
}

.navSubPageTab {
  display: flex;
}

.hiddenNavPageTab {
  display: none;
}

.navDiv{
    height: 2rem;
    min-width: 7rem;
    margin: 0.8vw;
    border-radius: 5px;
    background-color: transparent;
    transition: transform 0.2s ease-in-out,background-color 0.3s ease;
}

.navButtonMain {
    border: none;
    background-color: transparent;
    height: 2rem;
    min-width: 7rem;
    cursor: pointer;
    color: white;
}

.navSPBtn {
    background-color: plum;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 0.5rem;
    padding: 0.5rem;
}


#navPageButtons button:hover{
  color: black !important;
}

.navDiv:hover{
  transform: scale(1.3);
}

#redDiv:hover{
  background-color: red !important;
}

#oraDiv:hover{
  background-color: orange !important;
}

#yelDiv:hover{
  background-color: yellow !important;
}

#greDiv:hover{
  background-color: #66ff00 !important;
}

#bluDiv:hover{
  background-color: blue !important;
}

#indDiv:hover{
  background-color: #BC13FE !important;
}

#vioDiv:hover{
  background-color: violet !important;
}

.navDiv:active{
    transform: translateY(3px) scale(1.3);
}

.redDiv:active{
  background-color: rgb(156, 0, 0);
}

.oraDiv:active{
  background-color: rgb(174, 113, 0);
}

.yelDiv:active{
  background-color: rgb(171, 171, 0);
}

.greDiv:active{
  background-color: #43a700;
}

.bluDiv:active{
  background-color: rgb(0, 0, 164);
}

.indDiv:active{
  background-color: #6a0094;
}

.vioDiv:active{
  background-color: rgb(147, 0, 147);
}

/* NAVBAR CONTENT END */

/* PAGE CONTENT START */

main {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 10% 80% 10%;
    min-height: 75vh;
    width: 100%;
    grid-template-areas: 
        "pageBanner     pageBanner      pageBanner"
        "leftAside      mainContent     rightAside"
        "lowerContent      lowerContent    lowerContent";
    font-weight: 600;
    font-size: 20px;
}

@media (max-width: 678px) {
    main {
        grid-template-rows: 5% 5% 80% 5% 5%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "pageBanner"
            "leftAside"
            "mainContent"
            "rightAside"
            "lowerContent"
    }
}

.mainSection {
    overflow-wrap: break-word;
    hyphens: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pageBanner {
    grid-area: pageBanner;
}

#leftAside {
    grid-area: leftAside;
}

#mainContent {
    grid-area: mainContent;
}

#lowerContent {
    grid-area: lowerContent;
}

#rightAside {
    grid-area: rightAside;
}

/* PAGE CONTENT END */

/* FOOTER CONTENT START */

footer {
    margin-top: auto;
    background-color: indigo;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100%;
}

footer section{
  flex:1;
}

.footer-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top section{
  width: 33%;
  }
  
#footerDiamond {
  max-width: 4rem;
  min-width: 2rem;
  background-color: indigo;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
 }
  
#footerDiamond:hover {
  transform: scale(1.2);
}

.top-footer div{
  display:flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#socialMediaLinks{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%;
  
}

.SMiconLinks {
  border-radius: 10px;
  max-width:50%;
  max-height:10vh;
  transition: transform 0.3s ease-in-out;
}

.SMiconLinks:hover{
  transform: scale(1.5);
}

#AdminSignIn{
  width: 95%;
}

div form{
  width: 100%;
}

.footer-bottom{
  display: flex;
  justify-content: center;
  margin: 1vh;
}

.footer-bottom a{
  margin: 0.5vw;
}

/* FOOTER CONTENT END */