/*  Plain text=Tags: and their children. "." = element class "#" = element id */
* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
}

@font-face {
  font-family: 'Harrington';
  src: url('../media/fonts/HARRINGT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* TEMP */
/* Styling for all unvisited links */
a {
  color: lightgray;
  text-decoration: none;
}

/* Styling for visited links */
a:visited {
  color: lightgray;
}

/* Styling for links when hovered over */
/* a:hover {
  transform: scale(1.5);
} */

a text:hover{
  mix-blend-mode: difference;
  /* filter: invert(1); */
}

/* Styling for active links (while being clicked) */
a:active {
  color: green;
}
/* Related to scripts */

.newVisitor {
  background-image: url("../media/img/violetGemNavButton.webp");
}

.hasVisited {
  background-image: url("../media/img/violetGemNavButton.webp");
}

.isSignedIn {
  background-image: url("../media/img/violetGemNavButton.webp");
}
.newVisitor:hover {
  background-image: url("../media/img/SignUpVioletGemNavButton.webp");
}

.hasVisited:hover {
  background-image: url("../media/img/SignInVioletGemNavButton.webp");
}

.isSignedIn:hover {
  background-image: url("../media/img/DashboardVioletGemNavButton.webp");
}
