/*  Plain text=Tags: and their children. "." = element class "#" = element id */
/* Hostinger probably does not support VH or similar, they do support vh. Go figure! */
* {
  margin: 0;
  padding: 0;
}

/* Body Start */

body {
  contain: paint;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

header,
nav,
footer {
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEMP */
.UnderWork {
  width: 10vw;
}
/* Temp */

/* Header Content */

@font-face {
  font-family: "Harrington";
  src: url("../media/fonts/HARRINGT.TTF") format("truetype");
}

header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0.5vh 0.5vh 0vh 0.5vh;
  padding: 1vh;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  font-family: "Harrington", cursive;
  font-size: 2.5rem;
}

header div {
  margin: 2%;
}

#titleDiamond {
  transition: drop-shadow 0.5s ease-in-out;
}

#titleDiamond:hover {
  filter: drop-shadow(3px 3px 8px rgba(255, 255, 255, 9));
}

.titleElement {
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
}

#headerDiamond {
  height: 10rem;
  max-height: 20vh;
  width: auto;
}

#titleText {
  letter-spacing: 5px;
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Header Content End */
/* Nav Start */
nav {
  flex-wrap: wrap;
  /* overflow-x: wrap; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: auto 3vh;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  min-height: 8vh;
  border: 1vh;
}

nav::-webkit-scrollbar {
  display: none;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5vh;
  align-items: center;
}

.GemKnobs img {
  height: 25px;
  width: auto;
}

.navButtons {
  max-height: 4vh;
  max-width: 6vw;
  min-height: 2rem;
  min-width: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image 5s ease-in-out;
  transition: width 0.3s ease-in-out;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
}

.navButtons a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: transparent;
  text-align: center;
}

.navButtons:hover {
  min-height: 5vh;
  min-width: 8vw;
}

#CalendarGem {
  background-image: url("../media/img/redGemNavButton.webp");
}

#CalendarGem:hover {
  background-image: url("../media/img/CalendarRedGemNavButton.webp");
  filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
}

#ContactGem {
  background-image: url("../media/img/orangeGemNavButton.webp");
}

#ContactGem:hover {
  background-image: url("../media/img/ContactOrangeGemNavButton.webp");
  filter: drop-shadow(0px 0px 10px rgb(255, 183, 0));
}

#AboutGem {
  background-image: url("../media/img/yellowGemNavButton.webp");
}

#AboutGem:hover {
  background-image: url("../media/img/AboutYellowGemNavButton.webp");
  filter: drop-shadow(0px 0px 10px rgb(255, 230, 0));
}

#PriceGem {
  background-image: url("../media/img/greenGemNavButton.webp");
}

#PriceGem:hover {
  background-image: url("../media/img/PriceGreenGemNavButton.webp");
  filter: drop-shadow(0px 0px 10px rgb(17, 255, 0));
}

#GalleryGem {
  background-image: url("../media/img/blueGemNavButton.webp");
}

#GalleryGem:hover {
  background-image: url("../media/img/GalleryBlueGemNavButton.webp");
  filter: drop-shadow(0px 0px 10px rgb(25, 0, 255));
}

#DownloadGem {
  background-image: url("../media/img/indigoGemNavButton.webp");
}

#DownloadGem:hover {
  background-image: url("../media/img/DonwloadIndigoGemNavButton.webp");
  filter: drop-shadow(0px 0px 10px rgb(191, 0, 255));
}

#UserPortalGem {
  background-image: url("../media/img/violetGemNavButton.webp");
}

#UserPortalGem:hover {
  background-image: url("../media/img/SignUpVioletGemNavButton.webp");
  filter: drop-shadow(0px 0px 10px rgb(230, 0, 255));
}

/* Navigation Bar End */

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 96.5%;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 1vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 100%;
  overflow: clip;
}

main section {
  width: 99%;
  margin-top: 1vh;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0px solid transparent;
  box-sizing: border-box;
  border-radius: 20px;
}

section div {
  border-radius: 12px;
  margin: 1vh;
}

.smallImage {
  border: 1px solid transparent;
  border-radius: 15px;
  height: 14vh;
}

/* Main Content End */

/* Footer Content */
footer {
  bottom: 0;
  margin: 0.5vh;
  box-sizing: border-box;
  border-radius: 20px;
}

footer div {
  margin: 1vh;
  height: 96%;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footerDiamond {
  height: 12vh;
  width: auto;
  transition: transform 0.2s ease-in-out;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.4));
}

#footerDiamond:hover {
  transform: scale(1.1);
}

/* Footer Content End */

/* Body End */
