/*  Plain text=Tags: and their children. "." = element class "#" = element id */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Harrington';
  src: url('../media/fonts/HARRINGT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* TEMP */
/* Styling for all unvisited links */
a {
  color: lightgray;
  text-decoration: none;
}

/* Styling for visited links */
a:visited {
  color: lightgray;
}

/* Styling for links when hovered over */
/* a:hover {
  transform: scale(1.5);
} */

a text:hover{
  mix-blend-mode: difference;
  /* filter: invert(1); */
}

/* Styling for active links (while being clicked) */
a:active {
  color: green;
}
/* TEMP */
/* HEADER */
header{
  background-color: #7851A9;
  display:flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Harrington', sans-serif;
  font-size: larger;
  font-weight: 200;
  color: gold;
}

header div{
  margin: 1vw;
}

#headerDiamond img{
  width: 7vw;
  min-width: 40px;
}

.titleText{
  text-shadow: 2px 2px 4px black;
}

footer{
  background-color: #7851A9;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

footer div{
  margin: 0.5vw;
  flex:1;
}

.footer-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.top-footer{
  display:flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-bottom{
  display: flex;
  justify-content: center;
}

.footer-bottom a{
  margin: 0.5vw;
}
/* Related to scripts */

.newVisitor {
  background-image: url("../media/img/violetGemNavButton.webp");
}

.hasVisited {
  background-image: url("../media/img/violetGemNavButton.webp");
}

.isSignedIn {
  background-image: url("../media/img/violetGemNavButton.webp");
}
.newVisitor:hover {
  background-image: url("../media/img/SignUpVioletGemNavButton.webp");
}

.hasVisited:hover {
  background-image: url("../media/img/SignInVioletGemNavButton.webp");
}

.isSignedIn:hover {
  background-image: url("../media/img/DashboardVioletGemNavButton.webp");
}
