/* Header Start */

.jcsDiv {
  width: 70%;
  color: white;
}

/* Header End */

/* MAIN START */

#DescripDIV {
  border-radius: 9px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#DescripDIV img {
  width: 6vw;
}

main iframe {
  width: 80%;
  height: 80vh;
}

#MessageBoard {
  display: flex;
  flex-direction: row;
}

.MessageBoard {
  border-radius: 20px;
  width: 50%;
  color: black;
}

#AlertDIV {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#AlertDIV h3 {
  color: red;
  font-size: 3em;
}

#AlertDIV ul {
  width: 60%;
}

#ScheduleDIV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scheduleJCS {
  width: 100%;
  height: 30vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scheduleJCS h3 {
  width: 100%;
  font-size: 2em;
}

/* Testimonial Section Start */
#LPtestimonials {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials {
  text-indent: 12px;
  border-radius: 9px;
}