/* Header Start */
#welcomeTitle {
  max-height: 3vh;
  min-height: 1vh;
  min-width: 10vw;
}
.jcsDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
}

/* #jewelsTitle, #christianTitle, #schoolTitle{
  min-height: 5vh;
} */

#jewelsTitle{
  max-width:32%;
}

#christianTitle{
  max-width:36%;
}

#schoolTitle{
  max-width:32%;
}
/* #christianTitle {
  min-height: 1vh;
  width: auto;
} */

/* Header End */
#LPbriefDescription {
  width: 98%;
}

#LPbriefDescription div {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  margin: 1vh;
  padding: 1vh;
}

#LPwhatsHappening {
  display: flex;
  flex-direction: row;
  width: 98%;
}

.WHdiv {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  width: 50%;
  margin: 1vh;
}

#LPtestimonials {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials {
  margin: 2vh;
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.3);
  text-indent: 12px;
  border-radius: 9px;
}

.personalTestimonialT1 img {
  float: left;
  margin: 1vh;
}

.personalTestimonialT2 img {
  float: right;
  margin: 1vh;
}
