/* Header Start */

.jcsDiv {
  width: 70%;
  font-family: "Harrington", cursive;
  font-size: 2.5rem;
  color: white;
}

/* Header End */
#LPbriefDescription {
  width: 98%;
}

#LPbriefDescription div {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  margin: 1vh;
  padding: 1vh;
}

#LPwhatsHappening {
  display: flex;
  flex-direction: row;
  width: 98%;
}

.WHdiv {
  border-radius: 20px;
  width: 50%;
  margin: 1vh;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}

#LPAlertLists {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#LPAlertLists h3 {
  color: red;
  font-size: 3em;
}

#LPAlertLists ul {
  width: 60%;
}

#LPSchedulediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#LPscheduleJCS {
  width: 100%;
  height: 30vh;
  margin-top: 1vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#LPscheduleJCS h3 {
  width: 100%;
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Testimonial Section Start */
#LPtestimonials {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials {
  margin: 2vh;
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.3);
  text-indent: 12px;
  border-radius: 9px;
}

.personalTestimonialT1 img {
  float: left;
  margin: 1vh;
}

.personalTestimonialT2 img {
  float: right;
  margin: 1vh;
}
