/* DAY MODE START */

body {
  background-image: url("../media/img/background_day.webp");
}

header h1 {
  background-image: linear-gradient(
    to bottom,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
}

header,
nav,
footer {
  background-color: #87cefa;
  border: 0.5vh solid transparent;
  border-radius: 20px;
  background: linear-gradient(#87cefa, #87cefa) padding-box,
    linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
      )
      border-box;
  background-origin: padding-box, border-box;
}

header {
  border-bottom: none;
  border-radius: 20px 20px 0 0;
}

nav {
  border-top: none;
  border-radius: 0 0 20px 20px;
}

main {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../media/img/WoodCrossDay.webp");
}

main section {
  background-color: rgba(67, 67, 67, 0.3);
}

section div {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

/* DAY MODE END */

/* NIGHT MODE START */

/* body {
  background-image: url("../media/img/background_night.webp");
}

header h1 {
  background: linear-gradient(
    45deg,
    #ccc 0%,
    #fff 15%,
    #999 40%,
    #999 60%,
    #fff 85%,
    #ccc 100%
  );
}

header,
nav,
footer {
  background-color: #7851a9;
  border: 0.5vh solid transparent;
  border-radius: 20px;
  background: linear-gradient(#7851a9, #7851a9) padding-box,
    linear-gradient(
        45deg,
        #ccc 0%,
        #fff 15%,
        #999 40%,
        #999 60%,
        #fff 85%,
        #ccc 100%
      )
      border-box;
  background-origin: padding-box, border-box;
}

header {
  border-bottom: none;
  border-radius: 20px 20px 0 0;
}

nav {
  border-top: none;
  border-radius: 0 0 20px 20px;
}

main {
  background-color: rgba(32, 1, 99, 0.8);
  background-image: url("../media/img/WoodCrossNight.webp");
}

main section {
  background-color: rgba(79, 84, 111, 0.3);
}

section div {
  background-color: rgba(32, 1, 99, 0.6);
  color: lightgray;
} */

/* NIGHT MODE END */
