@font-face {
  font-family: boldPopp;
  src: url(fonts/Poppins-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url("img/skyBG.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  background-size: 100% 100%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

img {
  max-width: 30%;
  height: auto;
  width: 250px;
  float: left;
  position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannText {
  font-family: "boldPopp", sans-serif;
}
