main {
  margin: 2vh;
}

main div {
  display: flex;
  flex-direction: row;
  width: 96.5%;
}

#JCSSeniorSchedule {
  height: 600px;
  width: 455px;
  margin: 1vh;
}

#JCSMeetUpSchedule {
  height: 600px;
  width: 455px;
  margin: 1vh;
}
#JCSEventsSchedule {
  height: 600px;
  width: 455px;
  margin: 1vh;
}
