/* NAV BAR BEGIN */
nav {
  background-color: #370f41;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* FIXME: Border is annoying.
   FIXME:not good for thinner screens, words disappear */
nav button {
  background-color: #370f41;
  float: left;
  display: block;
  text-align: center;
  padding: 0;
  text-decoration: none;
  border-radius: 10px;
  width: 225px;
  height: 50px;
  border: none;
}

#navHome:hover {
  background-color: rgb(90, 178, 205);
  color: black;
}

#navEvents:hover {
  background-color: red;
  color: white;
}

#navDash:hover {
  background-color: orange;
  color: white;
}

#navSignIn:hover {
  background-color: rgb(255, 234, 0);
  color: black;
}

#navAbout:hover {
  background-color: green;
  color: white;
}

#navPricing:hover {
  background-color: blue;
  color: white;
}

#navPortal:hover {
  background-color: indigo;
  color: white;
}

#navDownloads:hover {
  background-color: violet;
  color: white;
}

/* NAV BAR END */
