/* simple words such as "header" declare tags. 
starting a word with "." such as " " declares class attributes.
starting a word with "#" such as "#LPHeader" declares id attributes. */

/* TODO:List of all class and id elements:
        IDs:  -headGreet
              -navHome
              -navEvents
              -navDash
              -navSignIn
              -navAbout
              -navPricing
              -navPortal
              -navDownloads
              -footerDiamond
              -headerDiamond
        CLASS:-
              -
 */
header {
  background: #370f41;
}

h1 {
  position: center;
}

body {
  background-image: url(../img/skyBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes full viewport height */
}

main {
  flex-grow: 1;
}

footer {
  background: #370f41;
  width: 100%;
}
/* FIXME: Diamond is not being effected. wtf. How tf. why tf */
#footerDiamond {
  width: 200px;
  display: block;
}
