/*  Plain text=Tags: and their children. "." = element class "#" = element id */
* {
  margin: 0;
  padding: 0;
}

/* Body Start */

body {
  min-height: 100vh;
  background-image: url("../media/img/saturatedSkyLight.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.sticky {
  position: sticky;
  z-index: 100;
}

/* Header Content */
header {
  background-color: #4b006e;
  background-image: url("../media/img/Royal-Purple.webp");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headerDiamond {
  height: 20dvh;
  width: auto;
}

.welcomeDiv {
  max-width: auto;
}

#welcomeTitle {
  height: 5dvh;
  width: auto;
  align-self: center;
}

.jcsDiv {
  height: auto;
}

#jewelsTitle {
  height: 7dvh;
  width: auto;
}

#christianTitle {
  height: 7dvh;
  width: auto;
}

#schoolTitle {
  height: 7dvh;
  width: auto;
}

/* Header Content End */

/* Navigation Bar */
nav {
  background-size: auto 100%;
  width: 100dvw;
  height: 20dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
  background-color: purple;
  top: 0;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navBtns {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.navBtns:hover {
  transform: scale(1.2);
}

.navGem {
  min-height: 5dvh;
  max-height: 14dvh;
  width: auto;
  display: flex;

  /* margin: 2dvh; */
}

#navHome img {
  height: 12dvh;
  width: auto;
}

#navEvents img {
  height: 12dvh;
  width: auto;
}

#navAbout img {
  height: 12dvh;
  width: auto;
}
#navContact img {
  height: 12dvh;
  width: auto;
}
#navPrice img {
  height: 12dvh;
  width: auto;
}
#navGallery img {
  height: 12dvh;
  width: auto;
}
#navDownloads img {
  height: 12dvh;
  width: auto;
}
#navSignUp img {
  height: 12dvh;
  width: auto;
}

/* #navEvents {
  background-image: url("../media/img/btns/redGemBtn.png");
  background-size: cover;
  background-position: center;
} */

/* Navigation Bar End */

/* Main Content */
main {
  flex-grow: 1;
}
/* Main Content End */

/* Footer Content */
footer {
  background-color: #4b006e;
  background-image: url("../media/img/Royal-Purple.webp");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
}
/* Footer Content End */

/* Body End */
