/*  Plain text=Tags: and their children. "." = element class "#" = element id */

/* Body */
body {
  margin: 0;
  background-image: url("../media/img/bg/saturatedSky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Body End */

/* Header Content */
header,
footer {
  background-color: #4b006e;
  background-image: url("../media/img/bg/Royal-Purple.jpg");
  background-size: 400% 400%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerDiamond {
  height: 150px;
  width: auto;
  margin: 10px;
  align-self: center;
}

#titleContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
  max-width: 100%;
}

#JCSSection {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  margin-left: 20px;
}

#welcomeSection {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  margin-left: 20px;
}

#welcomeTitle {
  height: 40px;
  width: auto;
  margin: 10px;
  align-self: center;
}

.titleText {
  display: flex;
  align-items: left;
  justify-content: center;
  margin-left: 20px;
}

#jewelsTitle {
  height: 80px;
  width: auto;
  margin: 10px;
  align-self: center;
}

#christianTitle {
  height: 80px;
  width: auto;
  margin: 10px;
  align-self: center;
}

#schoolTitle {
  height: 80px;
  width: auto;
  margin: 10px;
  align-self: center;
}

/* Header Content End */

/* Navigation Bar */
nav {
  background-color: lightblue;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
}

nav div {
  align-items: left;
  justify-content: space-between;
  display: flex;
  width: 96%;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

#navHome {
  height: 80px;
  width: auto;
}

.navButton {
  height: 60px;
  width: 130px;
  filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.5));
}

/* #navEvents {
  background-image: url("../media/img/btns/redGemBtn.png");
  background-size: cover;
  background-position: center;
} */

/* Navigation Bar End */

/* Main Content */

/* Main Content End */

/* Footer Content */
footer {
  background-image: url("../media/img/bg/Royal-Purple.jpg");
}

/* Footer Content End */
