header,
footer {
  width: 100%;
  background-image: url("../media/img/bg/Royal-Purple.jpg");
  background-size: cover;
  /* background-color: #370f41;
  background-blend-mode: screen; */
  background-repeat: no-repeat;
}

h1 {
  position: center;
}

/* body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */

/* main {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* #AnimatedBG {
  position: fixed;
  right: 0;
  bottom: 0;
  overflow: hidden;
} */

/* video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover; 
  z-index: -1;
} */

/* FIXME: Diamond is not being effected. wtf. How tf. why tf */
#footerDiamond {
  width: 200px;
  display: block;
}
