main{ 
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.mainDescrip {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.mainDescrip img {
  max-width: 4rem;
  min-width: 2rem;
}

#MessageBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  color: black;
}

.messageBoard{
  width: 45%;
  margin: 0.5vw;
  padding: 0.5vw;
}

.alertBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alertBoard h3 {
  color: red;
}

.alertBoard ul {
  width: 95%;
}

.scheduleBoard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-width: 50%;
  height: 30vh;
  border-radius: 20px;
}

.scheduleBoard h3 {
  width: 100%;
  width: 30rem;
}

/* Testimonial Section Start */
.Testimonial {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article div{
  margin: 0.1vh;
}